*{
    margin : 0;
    padding : 0;
    list-style : none;
    text-decoration : none;
}

body
{
    background-color : #1f456e;
}
/*---------------#0000FF-----------------------------------------------------------------*/
/*------------------------------------BUTTONS------------------------------------*/

.myButton {
  background-color: #a91b0d;
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius : 2px;
  width: 250px;
  font-family: Arial, Helvetica, sans-serif;
}

.myButton:hover {
  border: solid;
  border-color: white ;
  color: #1f456e;
}

.myButton:active{
  border: solid;
  border-color:black;
  color: #1f456e ;
}

/*--------------------------------------------------------------------------------*/

.button {
  background-color: #1f456e;
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius : 2px;
}

.button1 {
  background-color: #1f456e;
  color: white;
}

.button1:hover {
  color: #a91b0d ;
}

/*--------------------------------------------------------------------------------*/

.select {
  background-color: white;
  border: none;
  color: black;
  padding: 12px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius : 2px;
  width : 390px;
}

.select1 {
  background-color:white;
  color: black;
}

.select1:hover {
  color: black ;
  border: 1.5px solid black;
}

/*--------------------------------------------------------------------------------*/

.form-button {
  background-color: #a91b0d;
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius : 2px;
}

.form-button1 {
  background-color: #a91b0d;
  color: white;
}

.form-button1:hover {
  color: #1f456e ;
}

/*--------------------------------------------------------------------------------*/
/*-------------------------------------TEXT-----------------------------------*/
.normal_text{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color : white;
    font-size: 16px;
    vertical-align: -12px;
}
/*--------------------------------------------------------------------------------*/
.text{
 text-decoration: none;
 font-family: Arial, Helvetica, sans-serif;
 color : white;
 font-size: 16px;
 vertical-align: -12px;
}
/*--------------------------------------------------------------------------------*/
.form-text{
 text-decoration: none;
 font-family: Arial, Helvetica, sans-serif;
 color : white;
 font-size: 16px;
}
/*--------------------------------------------------------------------------------*/
.hospital{
     text-decoration: bold;
     font-family: Arial, Helvetica, sans-serif;
     color : #a91b0d;
     font-size: 40px;
     vertical-align: -48px;
}
/*--------------------------------------------------------------------------------*/
.hospital_home{
     text-decoration: bold;
     font-family: Arial, Helvetica, sans-serif;
     color : white;
     font-size: 40px;
     vertical-align: -48px;
}
/*--------------------------------------------------------------------------------*/
.dashBoardText{
     text-decoration: none;
     font-family: Arial, Helvetica, sans-serif;
     color : white;
     font-size: 16px;
     vertical-align: -12px;
}
/*--------------------------------------------------------------------------------*/
.centered_text {
    text-align: center;
}
/*--------------------------------------------------------------------------------*/
/*---------------------------div-------------------------------*/
.box{
    position: fixed;
    top: 36%;
    left: 38%;

    background : #a91b0d;
    width : 330px;
    height : 280px;
    border-radius : 2px;
    opacity : 1;
}
/*--------------------------------------------------------------------------------*/
.name-holder{
    position:fixed;
    background-color:#710c04;
    left : 1%;
    top : 8.3%;
    color : white;
    font-family: 'Arial', sans-serif;
}
/*--------------------------------------------------------------------------------*/
.line{
    position: fixed;
    top: 8%;
    left: 0%;
    margin : 0;
    padding : 0;

    background : #710c04;
    width : 100%;
    height : 23px;
    border-radius : 0px;
}
/*--------------------------------------------------------------------------------*/
.header{
    position: fixed;
    top: 0%;
    left: 0%;
    margin : 0;
    padding : 0;

    background : #a91b0d;
    width : 100%;
    height : 70px;
    border-radius : 0px;
}
/*--------------------------------------------------------------------------------*/
.logo_holder{
    position: fixed;
    top: 2%;
    left: 1%;
    margin : 0;
    padding : 0;

    background : white;
    width : 10%;
    height : 5%;
    border-radius : 2px;
}
/*--------------------------------------------------------------------------------*/
.header_bottom{
    position: fixed;
    top: 8%;
    left: 0%;
    margin : 0;
    padding : 0;

    background : #710c04;
    width : 100%;
    height : 23px;
    border-radius : 0px;
}
/*--------------------------------------------------------------------------------*/
.logout_holder{
    position: fixed;
    top: 2%;
    left: 92%;
    margin : 0;
    padding : 0;

    width : 10%;
    height : 5%;
    border-radius : 2px;
}
/*--------------------------------------------------------------------------------*/
.frame {
    height: 200px;
    width: 400px;

    position: fixed;
    top: 36%;
    left: 38%;
}
/*--------------------------------------------------------------------------------*/
.form_frame {
     height: 200px;
     width: 400px;

     position: fixed;
     top: 15%;
     left: 30%;
 }
/*--------------------------------------------------------------------------------*/
.dashboardBox1{
        position: fixed;
        top: 17%;
        left: 6.5%;
        margin : 0;
        padding : 0;
        opacity : 1;
        border-left: 5px solid orange;

        justify-content: center;
        align-items: center;

        background : white;
        width : 350px;
        height : 100px;
        border-radius : 5px;
}
/*--------------------------------------------------------------------------------*/
.dashboardBox2{
        position: fixed;
        top: 17%;
        left: 38.5%;
        margin : 0;
        padding : 0;
        opacity : 1;
        border-left: 5px solid #AA336A;

        justify-content: center;
        align-items: center;

        background : white;
        width : 350px;
        height : 100px;
        border-radius : 5px;
}
/*--------------------------------------------------------------------------------*/
.dashboardBox3{
        position: fixed;
        top: 17%;
        left: 70.5%;
        margin : 0;
        padding : 0;
        opacity : 1;
        border-left: 5px solid green;

        justify-content: center;
        align-items: center;

        background : white;
        width : 350px;
        height : 100px;
        border-radius : 5px;
}
/*--------------------------------------------------------------------------------*/
.title{
        position: absolute;
        top: 80%;
        left: 5%;
        margin : 0;
        padding : 0;
        opacity : 1;

        background : white;
        width : 300px;
        height : 18px;
        border-radius : 5px;
}
/*--------------------------------------------------------------------------------*/
.value{
        position: absolute;
        top: 30%;
        left: 45%;
        margin : 0;
        padding : 0;
        opacity : 1;

        background : white;
        width : 30px;
        height : 18px;
        border-radius : 5px;
}
/*--------------------------------------------------------------------------------*/
.today_canvas {
  position: fixed;
  top: 36%;
  left: 6.5%;
  margin : 0;
  padding : 20px;

  background-color: white;
  border-radius : 5px;
}
/*--------------------------------------------------------------------------------*/
.pie_canvas {
  position: fixed;
  top: 36%;
  left: 65%;
  margin : 0;
  padding-top : 30px;
  padding-bottom : 30px;
  padding-left : 40px;
  padding-right : 40px;


  background-color: white;
  border-radius : 5px;
}
/*--------------------------------------------------------------------------------*/
/*----------------------------------------INPUT----------------------------------*/
.get{
    width : 295px;
    height : 40px;
    border-radius : 2px;
    border : 0px;
    font-family:Arial;
}
/*--------------------------------------------------------------------------------*/
.link{
   text-decoration: none;
   color : #1f456e;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
   vertical-align: -12px;
}
/*--------------------------------------------------------------------------------*/
    .popup-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 9999;
    }


    .popup-box{
      background-color: #fff;
      border-radius: 5px;
      top: 50;
      left: 50;
      padding: 20px;
      width: 400px;
      text-align: center;
      font-family: 'Arial', sans-serif;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }


    .popup-message {
      margin-bottom: 20px;
    }


    .popup-title {
      font-size: 24px;
      color: #333;
      letter-spacing: 1px;
      margin-bottom: 10px;
    }


    .popup-text {
      font-size: 16px;
      color: #666;
      line-height: 1.5;
    }






